@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
<p>
    a little change does very little
    blah blah
</p>
<p>
    Machine name:
    @Environment.MachineName
</p>
<p>
    computer name:
@System.Environment.GetEnvironmentVariable("COMPUTERNAME")
</p>
<p>
    tcp ip based host name:
    @System.Net.Dns.GetHostName()
</p>
<p>
    server ip:
    @Request.ServerVariables["LOCAL_ADDR"];
</p>






<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>
<p>
    change on master 22
</p>