@model WebApplication1.Models.Product

@Html.HiddenFor(m=>m.ProductId)

    <dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CatalogId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CatalogId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.base1)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.base1)
    </dd>
</dl>

        <hr />
<h4>children</h4>

        @if (Model.Children.Count() == 0)
        {
            <p>No children</p>
        }
        else
        {
            for (int i = 0; i < Model.Children.Count(); i++)
            {
                @Html.DisplayFor(model => model.Children[i])
            }
        }

        <hr/>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.base2)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.base2)
    </dd>

    @*<dt>
        @Html.DisplayNameFor(model => model.Prod1)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Prod1)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Prod2)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Prod2)
    </dd>*@

</dl>
