@model WebApplication1.Models.Product

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.base1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.base1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.base2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.base2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatalogId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatalogId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
